Source: libgtop11dotnet
Priority: optional
Maintainer: Arnaud Morin <arnaud.morin@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, libboost-graph-dev, libboost-date-time-dev, libboost-system-dev, libboost-thread-dev, libboost-filesystem-dev, libpcsclite1, libpcsclite-dev, libengine-pkcs11-openssl, opensc, pcscd, pcsc-tools, libccid, pkg-config, zlib1g-dev
Standards-Version: 4.1.1
Section: libs
Homepage: http://www.gemalto.com/

Package: libgtop11dotnet-dev
Section: libdevel
Architecture: any
Depends: libgtop11dotnet0 (= ${binary:Version}), ${misc:Depends}, autotools-dev, libboost-graph-dev, libboost-date-time-dev, libboost-system-dev, libboost-thread-dev, libboost-filesystem-dev, libpcsclite1, libpcsclite-dev, libengine-pkcs11-openssl, opensc, pcscd, pcsc-tools, libccid, pkg-config
Description: This is the Gemalto .NET Library for smartcard
 Gemalto provides PKCS11.NET smartcard.
 With this library, you will be able to read and use your
 smartcard.
 This package is the development package (source code).

Package: libgtop11dotnet0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpcsclite1, libengine-pkcs11-openssl, opensc, pcscd, pcsc-tools, libccid
Description: This is the Gemalto .NET Library for smartcard
 Gemalto provides PKCS11.NET smartcard.   
 With this library, you will be able to read and use your
 smartcard.
 This package is the library package (compiled).
